/* Resetting styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
}

.title {
  position: fixed;
  font-size: 2rem;
  color: antiquewhite;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.ripple-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1c51f0;
  cursor: pointer;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
  opacity: 1;
}
