/* Resetting styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
}

.title-box {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 60px;
  pointer-events: none;
  opacity: 0.8;
}

.title {
  font-size: 2.2rem;
  color: #1a4d7a;
  pointer-events: none;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
}

.ripple-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1a4d7a;
  cursor: pointer;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #a0e3f0;
  pointer-events: none;
  opacity: 1;
  z-index: 2000;
}
